<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Speedometer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Speedometer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<!-- Izin Lokasi -->
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Aplikasi memerlukan akses lokasi Anda untuk fitur pelacakan</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Kami memerlukan akses lokasi untuk pelacakan terus-menerus.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Kami memerlukan akses lokasi Anda untuk menampilkan nama jalan.</string>
	
	<!-- Izin Kamera -->
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi memerlukan akses kamera untuk mengambil foto</string>
	
	<!-- Izin Mikrofon -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi memerlukan akses mikrofon untuk merekam audio</string>
	
	<!-- Izin Penyimpanan (iOS 11+) -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi memerlukan akses ke galeri foto Anda</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Aplikasi memerlukan izin untuk menyimpan gambar ke galeri foto Anda</string>
	
	<!-- Untuk iOS 14+ -->
	<key>NSUserTrackingUsageDescription</key>
	<string>Data Anda akan digunakan untuk menyediakan pengalaman yang lebih personal</string>
	
	<!-- Untuk iOS 16+ -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Aplikasi memerlukan akses Bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Aplikasi memerlukan akses ke perangkat Bluetooth</string>
	
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>